<h2>Survey Details</h2>  
<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">NAME: <%= @survey.name %></h5>
    <p class="card-text">STATUS: <%= @survey.status %></p>
    
    <%= link_to "Go Back", root_path, class: 'btn btn-primary' %>
    
  </div>
</div>